*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

#main {
    height: 100%;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/258149/pexels-photo-258149.jpeg);
    background-size: cover;
    background-position: center;
}

#main #nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 40px 50px;
   color: white;
}

#nav i {
    font-size: 2rem;
    cursor: pointer;
    font-weight: 800;
}

#full {
    height: 100%;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    right: -40%;
    backdrop-filter: blur(10px);
    padding: 150px 50px;
}

#full h4 {
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 30px;
}

#full i {
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}