*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    width: 100%;
    height: 100vh;
    background-color: #333;
}

nav {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: transparent;
    backdrop-filter: blur(20px);
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3vw;

    :hover {
        cursor: pointer;
        color: rgb(255, 55, 0);
        scale: 1.1;
    }
}

nav a {
    text-decoration: none;
    color: white;
}

nav i {
    font-size: 2vw;
    color: white;
}

.one {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(150deg, orange, rgb(255, 98, 0));

    h1 {
        font-size: 25vw;
        color: white;
        text-align: center;
        margin-top: 10vh;
        text-transform: uppercase;
    }
}

#fanta {
    width: 40vw;
    height: 40vw;
    object-fit: contain;
    z-index: 2;
    position: absolute;
}

#orange-cut {
    width: 15%;
    position: absolute;
    top: 10%;
    left: 32%;
    z-index: 1;
}

#orange {
    width: 20%;
    position: absolute;
    top: 55%;
    right: 30%;
    z-index: 3;
}

#leaf {
    width: 30%;
    position: absolute;
    top: 10%;
    right: 30%;
    z-index: 1;
}

#leaf-2 {
    width: 20%;
    position: absolute;
    top: 10%;
    right: 0;
    z-index: 3;
}

.two {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.lft-two {
    width: 50%;
    height: 100%;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rght-two {
    width: 50%;
    height: 100%;
    background-color: rgb(96, 155, 71);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 5vw;
}
.lft-two svg{
    transform: rotate(180deg);
    width: 80%;
}

.lft-two svg path{
    width: 100%;
    height: 100%;
    fill: rgb(96, 155, 71);
}

.rght-two h2{
    font-size: 5vw;
    color: white;
    margin-bottom: 2vw;
}

.rght-two p{
    font-size: 1vw;
    line-height: 1.5vw;
    color: white;
    width: 80%;
}

.three{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    padding: 30vw 0;
    background-image: linear-gradient(150deg, orange, rgb(255, 98, 0));
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 2vw;
    width: 25vw;
    height: 70vh;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card h2{
    font-size: 3vw;
    margin-top: 40vh;
}
.card button {
    font-size: 1dvw;
    padding: 1vw 2vw;
    border-radius: 1000px;
    outline: 0;
    border: 0;
    background-image: linear-gradient(150deg, orange, rgb(255, 98, 0));
    color: #fff;
}

#cocacola{
    width: 65%;
    position: absolute;
    top: -25%;
    z-index: 1;
}

#pepsi{
    width: 100%;
    position: absolute;
    top: -30%;
}

#lemon{
    width: 100%;
    position: absolute;
    top: -40%;
}

#orange-new{
    width: 100%;
    position: absolute;
    top: -30%;
}